body {
    overflow: hidden;
    /* Also affects Asana.POPUP_UI_WIDTH and Asana.POPUP_UI_HEIGHT */
    width: 500px;
    height: 310px;  /* keep this correct for the window-based (non-button) version */
    padding: 0px;
    margin: 0px;
    background-color: #fff;
    font-size: 14px;
    font-family: proxima-nova, "Helvetica Neue", Arial, sans-serif;
}

a {
    color: black;
}

.fakeimg {
    height: 200px;
    background: #aaa;
}
