#dropdown-custom-1 {
    padding-left: 2px;
    border-top-width: 0px;
    padding-right: 2px;
    padding-bottom: 2px;
    background-color: #f6f7f9;
}

.logo{
    padding: 6px 2px 2px 2px;
    width: 160px;
}

.favorite{
    float: right;
}

.header{
    background-color: #f5f6fe;
}

